/*以上为底部导航栏*/

#shanghaileft {
    height: 3000px;
    width: 40px;
    position: absolute;
    top: 0px;
    z-index: -9999;
    background: linear-gradient(to right, #AFEEEE, white);
}

#shanghairight {
    height: 3000px;
    width: 40px;
    position: absolute;
    top: 0px;
    right: 0;
    z-index: -1000;
    background: linear-gradient(to left, #AFEEEE, white);
}


/* 这是欢迎词 */

.head {
    color: #666;
    text-align: center;
    line-height: 70px;
    height: 70px;
    font-size: 32px;
}

.english {
    text-align: center;
    line-height: 20px;
    color: gray;
}


/* 上海 */

.introduce>img {
    height: 500px;
    margin-top: 10px;
    padding: 5px;
    position: relative;
    left: 15px;
    border-radius: 20px;
    border: 4px solid #d15a39;
    box-shadow: 4px 4px 4px #666;
}

.message1 {
    font-size: 18px;
    margin-top: 10px;
    color: #666;
    margin-bottom: 50px;
}


/* 主要景区 */

.scenery {
    width: 100%;
    height: 405px;
    display: flex;
    box-sizing: border-box;
    margin-bottom: 70px;
}

.view {
    flex: 1;
    border: 2px solid gray;
}

.view>img {
    height: 405px;
    padding: 0;
    border: 2px solid #d15a39;
}

.view>p {
    background: gray;
    color: white;
    text-align: center;
}

.introduce1 {
    line-height: 42px;
    font-size: 18px;
    color: #333;
    margin: 0 20px 50px 20px;
}


/* 风俗与美食 */

.tradition {
    column-count: 3;
    margin-top: 5px;
    margin-bottom: 30px;
}

.tradition img {
    width: 100%;
}

.f {
    border: 3px solid gray;
    margin-bottom: 12px;
    padding: 5px;
    break-inside: avoid;
}

.f>p {
    line-height: 50px;
    text-align: center;
    font-size: 18px;
    background: #666;
    color: aliceblue;
}